beautifulsoup4==4.12.3
geopy==2.4.1
huggingface-hub==0.21.4
ip2geotools==0.1.6
llama_cpp_python==0.2.55
numpy==1.26.4
praw==7.7.1
pytest==8.1.1
pytube==15.0.0
tiktoken==0.6.0
urllib3==2.2.1
requests==2.31.0
tqdm==4.66.2
whisper_cpp_python==0.2.0